<form [formGroup]="addForm" (submit)="createFeed()" style="margin-top: 0.5rem">
    <div class="field">
        <label class="label">Titulo:</label>
        <div class="control">
            <input [ngClass]="{'input': true, 'is-danger': addForm.get('title').errors && !addForm.get('title').pristine}"
                   formControlName="title" type="text">
        </div>
    </div>

    <div class="field">
        <label class="label">Autor:</label>
        <div class="control">
            <input [ngClass]="{'input': true, 'is-danger': addForm.get('publisher').errors && !addForm.get('publisher').pristine}"
                   formControlName="publisher" type="text">
        </div>
    </div>

    <div class="field">
        <label class="label">Cuerpo:</label>
        <div class="control">
            <textarea
                    [ngClass]="{'textarea': true, 'is-danger': addForm.get('body').errors && !addForm.get('body').pristine}"
                    formControlName="body" rows="20"></textarea>
        </div>
    </div>

    <input type="submit" class="button is-primary" value="Añadir"
           [disabled]="!addForm?.valid">
</form>