<ng-container *ngIf="!loading; else cargandoTemplate">

    <a class="button" style="margin: 1rem" (click)="feedsService.goMainPage()">Ver todos los feeds</a>

    <ng-container *ngIf="feed">
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <!-- EDIT -->
                    <a class="button is-small" [ngClass]="{'is-success': editing}" (click)="editing = !!!editing"
                       style="margin: 0.5rem"><i class="fa fa-edit"></i></a>

                    <div class="card-content">
                        <!-- Read only -->
                        <ng-container *ngIf="!editing">
                            <div class="is-hidden-touch" *ngIf="feed.image">
                                <img [src]="feed.image" class="author-image">
                            </div>

                            <div class="media">
                                <div class="media-content has-text-centered">
                                    <p class="title article-title">{{feed.title}}</p>
                                    <div class="tags has-addons level-item">
                                        <span class="tag is-rounded is-info">{{feed.periodico}}</span>
                                        <span class="tag is-rounded">{{feed.publisher}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content article-body" [innerHTML]="safeBody"></div>

                            <!-- DELETE -->
                            <a class="button is-small is-danger" (click)="deleteFeed()"><i class="fa fa-trash"></i></a>
                        </ng-container>

                        <!-- Editing template -->
                        <div [style.display]="editing ? 'block' : 'none'">
                            <form [formGroup]="editForm" (submit)="updateFeed()">
                                <div class="field">
                                    <label class="label">Titulo:</label>
                                    <div class="control">
                                        <input [ngClass]="{'input': true, 'is-danger': editForm.get('title').errors && !editForm.get('title').pristine}"
                                               formControlName="title" type="text">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Autor:</label>
                                    <div class="control">
                                        <input [ngClass]="{'input': true, 'is-danger': editForm.get('publisher').errors && !editForm.get('publisher').pristine}"
                                               formControlName="publisher" type="text">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Cuerpo:</label>
                                    <div class="control">
                                        <textarea
                                                [ngClass]="{'textarea': true, 'is-danger': editForm.get('body').errors && !editForm.get('body').pristine}"
                                                formControlName="body" rows="20"></textarea>
                                    </div>
                                </div>

                                <input type="submit" class="button is-primary" value="Modificar"
                                       [disabled]="!editForm?.valid">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>

<ng-template #cargandoTemplate>
    Cargando feed...
</ng-template>
