<div #modal [ngClass]="{'modal': true, 'is-active': isOpened || isClosing}">
    <div class="modal-background"></div>
    <div class="modal-content"></div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>