<article class="media" style="margin: 2rem" *ngIf="feed">
    <figure class="media-left is-hidden-touch" *ngIf="feed.image">
        <p class="image">
            <img [src]="feed.image">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{feed.publisher}}</strong>
                <br>
                {{feed.title}}
                <br>
                <small><a (click)="feedsService.goDetailPage(feed.id)">Ir a la página de detalle</a></small>
            </p>
        </div>
    </div>

    <div style="clear:both; height: 1.5rem"></div>
</article>