<ng-container *ngIf="!loading; else cargando">
    <div style="margin: 1rem">
        <a class="button is-fullwidth is-primary" (click)="creating = !!!creating">{{(creating ? 'Creando' : 'Crear')}}
            feed</a>

        <div [style.display]="creating ? 'block': 'none'">
            <app-feeds-create (result)="resultCreatingFeed($event)"></app-feeds-create>

            <hr style="border-top: dotted 0.7px; margin-bottom: 2rem"/>
        </div>
    </div>

    <ng-container *ngIf="feeds.length > 0; else noFeeds">
        <app-feed-row *ngFor="let feed of feeds" [feed]="feed"></app-feed-row>
    </ng-container>

    <ng-template #noFeeds>
        No se han encontrado feeds
    </ng-template>
</ng-container>

<ng-template #cargando>
    Cargando...
</ng-template>
